[profile.default]
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 20_000
solc = "0.8.28"

evm_version = "Cancun"

fs_permissions = [{ access = "read-write", path = "./"}]

gas_reports = ["*"]

[lint]
lint_on_build = false

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
int_types = "long"
quote_style = "double"
number_underscore = "preserve"
override_spacing = true
wrap_comments = true
ignore = [
    "src/EVault/EVault.sol",
    "src/EVault/shared/types/VaultStorage.sol",
    "src/EVault/shared/types/VaultCache.sol",
    "test/mocks/TestERC20.sol"
]


[profile.default.fuzz]
max_test_rejects = 1_000_000
seed = "0xee1d0f7d9556539a9c0e26aed5e63556"
runs = 1000

[profile.default.invariant]
call_override = false
depth = 50
runs = 1000

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[profile.mainnet]
# Defaults
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 20_000
solc = "0.8.28"

evm_version = "Cancun"

fs_permissions = [{ access = "read-write", path = "./"}]

gas_reports = ["*"]
# Settings for Ethereum Mainnet
eth_rpc_url = "https://gateway.tenderly.co/public/mainnet"

match-path = "test/twyne/mainnet/**"


[profile.base]
# Defaults
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 20_000
solc = "0.8.28"

evm_version = "Cancun"

fs_permissions = [{ access = "read-write", path = "./"}]

gas_reports = ["*"]
# Settings for Base network
eth_rpc_url = "https://gateway.tenderly.co/public/base"
match-path = "test/base/**"


[profile.sonic]
# Defaults
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 20_000
solc = "0.8.28"

evm_version = "Cancun"

fs_permissions = [{ access = "read-write", path = "./"}]

gas_reports = ["*"]
# Settings for Sonic network
eth_rpc_url = "https://rpc.soniclabs.com"
match-path = "test/sonic/**"

[profile.plasma]
# Defaults
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 20_000
solc = "0.8.28"

evm_version = "Cancun"

fs_permissions = [{ access = "read-write", path = "./"}]

gas_reports = ["*"]
# Settings for XPL network
eth_rpc_url = "https://plasma.drpc.org"
match-path = "test/twyne/plasma/**"
